.about{
  &--title{
    text-align: center;
    padding: 1rem;
  }

  h1{
    padding: 1rem 2rem;
    margin-bottom: 0;
    color: navy;
    font-size: 2.5rem;

    // display: inline-block;
    // background-color: coral;
    // color: white;
    // border-radius: 4px;
    // transform: rotate(1deg);

    &:hover + .hide-me{
      display: block;
    }
  }

  &--secret{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
  }

  &--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--profiles{
    display: flex;
    flex-direction: column;

    article{
      display: flex;
      padding: 1rem 2rem;
      align-items: center;
    }
  }

  &--profile-pic{
    width: 250px;

    img{
      border-radius: 50%;
      width: 250px;
      box-shadow: 5px 5px 8px #6495ed7a;
      transition: all .2s ease-in-out;
      border: 5px solid white;
      

      &:hover{
        transform: scale(1.05);
        box-shadow: 5px 5px 10px #6494edad;
        border: 5px solid lightcyan;
      }
    }
  }

  &--profile-blurb{
    padding: 1rem 3rem;

    ul{
      list-style: none;
      padding-left: 1rem;
    }
  }

  &--tech{
    text-align: center;
    padding: 2rem 0;

    h2{
      color: navy
    }

    .logo-wrapper{
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
    }

    img{
      max-width: 150px;
      padding: 0 0.5rem;
      transition: all 0.2s ease-in-out;

      &:hover{
        transform: scale(1.2)
      }
    }
  }

}

@media (max-width: 1200px) {
  
}