.about{
  &--profiles{
    display: flex;
    flex-direction: column;

    article{
      display: flex;
      padding: 1rem 2rem;
      align-items: center;
    }
  }

  &--profile-pic{
    width: 250px;

    img{
      border-radius: 50%;
      width: 100%;
    }
  }

  &--profile-blurb{
    padding: 1rem 2rem;

    ul{
      list-style: none;
      padding-left: 1rem;
    }
  }

  
}

@media (max-width: 1200px) {
  
}