.alert {
  position: fixed;
    width: 320px;    
    background: #efefef;
    border: 1px solid #ccc;
    left: calc(50% - 160px);
    top: calc(50% - 100px);    
    box-sizing: border-box;
    border-radius: 6px;  

    &-header {
      background: #6495ec;
      color: white;
      padding: 8px 10px;
    top: 0;
    margin-top: 0;
    border-radius: 6px 6px 0 0;
    text-align: left;
    }
    &-body {
      padding: 8px 16px;
    }
    &-buttons {
      text-align: right;
      padding: 8px 16px;
    }
    &-button {
      background-color: #1876d1 !important;
      color: white !important;
      margin-left: 8px !important;
      &.error {
        background-color: #d32f2f !important;
      }
    }
}