header{
  height: 5rem;
  background-color: cornflowerblue;
  color: white;
}

.nav{
  display: flex;
  align-items: center;
  padding: 1rem;

  &--logo{
    font-weight: 700;
    font-size: 2rem;

    a{
      color: white;
      text-decoration: none;
    }
  }

  ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li{
    margin: 0 1rem;

    a{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem;
    }

    a:hover, a:active{
      background-color: white;
      color: black;
    }

    a.active{
      border-bottom: 4px solid white;
    }
  }

  &--auth{
    display: flex;
  }

  &--auth-left{
    display: flex;
  }

  &--auth-right{
    display: flex;
    align-items: center;
  }

  &--auth-name{
    padding: 0 0.5rem;
  }
}

.nav--list-right{
  display: flex;
  justify-content: center;
  align-items: center;
}