header{
  height: 5rem;
  background-color: navy;
  color: white;
}

.nav{
  display: flex;
  align-items: center;
  padding: 1rem;

  &--logo{
    font-weight: 700;
    font-size: 2rem;

    a{
      color: white;
      text-decoration: none;
    }
  }
}

.nav--list-right{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li{
    margin: 0 1rem;
    width: 5rem;

    a{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem;
    }

    a:hover, a:active{
      background-color: white;
      color: navy;
    }

    a.active{
      border-bottom: 4px solid white;
    }
  }

}