.registration{
  text-align: center;

  &--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .MuiTextField-root{
      margin-bottom: 1rem;
    }
  }

  .checkbox-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

