// Import primary font families
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

main{
  padding: 1rem;
}